<h1>{{title}}</h1>
<p>Users list</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Surname</th>
        </tr>
    </thead>
    <tbody>
        {{#each users}}
            <tr style="cursor: pointer;" onclick="window.location.href = '/users/{{this.id}}';">
                <td>{{this.id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.surname}}</td>
            </tr>
        {{/each}}
    </tbody>

</table>